* {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #002763;
}

.hg-theme-default {
  background-color: inherit !important;
}

.main_page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.player-ready div {
  background-color: rgb(46, 216, 60) !important;
  border-color: rgb(46, 216, 60) !important;
}

.game {
  justify-content: flex-start;
}

.game h2 {
  color: white;
}

.players {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: 80vh;
  margin-top: 10px;
}

.logo {
  width: 800px;
  height: auto;
}

.card {
  width: 350px;
  background-color: #020e3d;
  margin: auto;
  border-radius: 20px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2 {
  color: white;
  text-align: center;
  margin: 0;
}

.shake div {
  animation: horizontal-shaking 0.3s;
  animation-iteration-count: 1;
}

.health-bar {
  width: 270px;
  background-color: #002763;
  border-radius: 10px;
  margin: 10px 0px;
}

.hg-button {
  border-bottom: none !important;
}

.greenTile {
  background-color: rgb(46, 216, 60) !important;
  border-color: rgb(46, 216, 60) !important;
}

.yellowTile {
  background-color: yellow !important;
  border-color: yellow !important;
}

.grayTile {
  background-color: #4e353e !important;
  border-color: #4e353e !important;
}

.greenButtons {
  background-color: rgb(46, 216, 60) !important;
}

.grayButtons {
  background-color: gray !important;
}

.yellowButtons {
  background-color: yellow !important;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
